<%- include("header") -%>

   <div class="courseCon">
    <% for(course of courses){%>
      <div class="courseCard">
        <h3><%= course.title%></h3>
        <p><%= course.des.substring(0, 120)%>...</p>

        <form class="" action="/course/join" method="post">
          <button type="submit" name="courseID" value="<%= course._id%>">Join Course</button>
        </form>
      </div>
    <%}%>
   </div>



</body>

</html>
